<!-- footer -->
<footer class="w3l-footer-29-main">
    <div class="footer-29-w3l py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                    <div class="footer-logo mb-3">
                        <!--a class="footer-brand-logo" href="index"><span class="fa fa-smile-o mr-1"></span>BUCare</a-->
                        <a class="footer-brand-logo" href="#index">
                            <img src="media/imgs/template/bu_logo.jpg" alt="BU Logo" title="Babcock University Logo" class="bu_logo" /> BUCare
                        </a> 
                    </div>
                    <p>
                        <span id="content4Intro0" data-p-t-e='footer'><%= pages.footer[0].Intro[0] %></span>
                        <% if (userStatus && userStatus.isAdmin) { %>
                            <span id="editPreloader4Intro0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
                            <span id="pen4Intro0" onclick="beginPageEdit('Intro', 0)" class="adminEditIcons bi bi-pen"></span>
                            <span id="saveEdit4Intro0" class="hide adminEditIcons bi bi-check2"></span>
                            <span id="closeEdit4Intro0" class="hide adminEditIcons bi bi-x"></span>
                        <% } %>
                    </p>
                    <br>
                    <p class="mb-3">
                        <span id="content4Intro1" data-p-t-e='footer'><%= pages.footer[0].Intro[1] %></span>
                        <% if (userStatus && userStatus.isAdmin) { %>
                            <span id="editPreloader4Intro1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
                            <span id="pen4Intro1" onclick="beginPageEdit('Intro', 1)" class="adminEditIcons bi bi-pen"></span>
                            <span id="saveEdit4Intro1" class="hide adminEditIcons bi bi-check2"></span>
                            <span id="closeEdit4Intro1" class="hide adminEditIcons bi bi-x"></span>
                        <% } %>
                    </p>

                    <div class="main-social-footer-29 mt-4">
                        <a href="https://www.facebook.com/babcocknigeria/" target="_blank" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="https://twitter.com/babcock_univ?lang=en" target="_blank" class="twitter"><span class="fa fa-twitter"></span></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 col-6 footer-list-29 footer-2 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Services</h6>
                    <ul>
                        <li><a href="about#academicSupport">Academic Support</a></li>
                        <li><a href="about#psychologicalSupport">Psychosocial Support</a></li>
                        <li><a href="about#socailWelfareSupport">Social Welfare Support</a></li>
                        <li><a href="about#specialDuties">Special Duties</a></li>
                        <li><a href="about#mentorshipProgram">Mentorship Program</a></li>
                        <li><a href="about#bereavementServices">Bereavement Services</a></li>

                    </ul>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">
                        <span id="content4Definition0" data-p-t-e='footer'><%= pages.footer[0].Definition[0] %></span>
                        <% if (userStatus && userStatus.isAdmin) { %>
                            <span id="editPreloader4Definition0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
                            <span id="pen4Definition0" onclick="beginPageEdit('Definition', 0)" class="adminEditIcons bi bi-pen"></span>
                            <span id="saveEdit4Definition0" class="hide adminEditIcons bi bi-check2"></span>
                            <span id="closeEdit4Definition0" class="hide adminEditIcons bi bi-x"></span>
                        <% } %>
                    </h6>
                    <p class="mb-3">
                        <span id="content4Definition1" data-p-t-e='footer'><%= pages.footer[0].Definition[1] %></span>
                        <% if (userStatus && userStatus.isAdmin) { %>
                            <span id="editPreloader4Definition1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
                            <span id="pen4Definition1" onclick="beginPageEdit('Definition', 1)" class="adminEditIcons bi bi-pen"></span>
                            <span id="saveEdit4Definition1" class="hide adminEditIcons bi bi-check2"></span>
                            <span id="closeEdit4Definition1" class="hide adminEditIcons bi bi-x"></span>
                        <% } %>
                    </p>
                    <p class="mb-3">
                        <span id="content4Definition2" data-p-t-e='footer'><%= pages.footer[0].Definition[2] %></span>
                        <% if (userStatus && userStatus.isAdmin) { %>
                            <span id="editPreloader4Definition2" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
                            <span id="pen4Definition2" onclick="beginPageEdit('Definition', 2)" class="adminEditIcons bi bi-pen"></span>
                            <span id="saveEdit4Definition2" class="hide adminEditIcons bi bi-check2"></span>
                            <span id="closeEdit4Definition2" class="hide adminEditIcons bi bi-x"></span>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->

    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container">
            <div class="row bottom-copies">
                <p class="col-lg-8 copy-footer-29">Copyright © 2021 Babcock University. All Rights Reserved</p>

                <div class="col-lg-4 footer-list-29">
                    <ul class="d-flex text-lg-right">
                        <li><a href="#careers"> FAQs</a></li>
                        <li class="mx-lg-5 mx-md-4 mx-3"><a href="#privacymy-lg-0 my-4">Privacy Policy</a></li>
                        <li><a href="contact">Contact us</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
</footer>