<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <base href="../">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client's Report | BUCare</title>
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="css/template_styles/style-starter.css">

    <!-- My Styles -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include('./partials/header') %> 

     <!-- //modal-popup for report-->
     <div class="selectpackage">

        <div class="modal fade" id="myModal4report" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="reportModal" type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                            &times;</button>
                        <h4 class="modal-title" id="myModalLabel">Report a Client</h4>
                    </div>
                    <div class="modal-body packages">
                        <div class="appointment-form">
                            <form id="reportForm" onsubmit="return reportFunc('<%= userStatus._id %>')">

                              <!-- Error Alert box -->
                              <div id="errorBox3" class="alert alert-danger hide" role="alert"></div>

                              <!-- Success Alert box -->
                              <div id="successBox3" class="alert alert-success hide" role="alert"></div>
                              
                              <div class="fields-grid">
                                <div class="styled-input">

                                    <div class="appointment-form-field">
                                        Client's Email
                                        <input type="text" name="clientEmail" placeholder="doe@gmail.com" required disabled>
                                        <span id="blankMsg" style="color:red">
                                    </div>
                                </div>

                                <div class="styled-input">
                                    Select a reason for filing a case:
                                    <div class="appointment-form-field">
                                        <select name="reason" id="reason" required>
                                            <option value="">Select an Issue</option>
                                            <option value="Disrespect">Disrespect</option>
                                            <option value="Fradulent Behaviour">Fradulent Behaviour</option>
                                            <option value="Abuse">Abuse</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                              </div>

                              <div class="appointment-form-field">
                                Describe the problem
                                <textarea name="description" cols="30" rows="10" placeholder="Kindly describe the problem here." style="padding-top: 10px;" required></textarea>
                              </div>

                              <div class="appointment-btn text-lg-right">
                                  <button id="reportBtn" type="submit" value="submit" class="btn btn-style btn-primary mt-4" >Report Client</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal-popup for registrations ends-->

    <!-- Modal -->
    <div class="modal fade" id="endTreatmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="endTreatmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="endTreatmentModalLabel">Confirmation Dialog</h5>
                </div>
                <div class="modal-body">

                    <!-- Error Alert box -->
                    <div id="errorBox7" class="alert alert-danger hide" role="alert"></div>

                    <!-- Success Alert box -->
                    <div id="successBox7" class="alert alert-success hide" role="alert"></div>

                    <center id="endTreatment-modal-body">
                        <h3 style="font-size: 20px; font-weight: normal;">Are you sure you want to end the current client's treatment?</h3>
                    </center>
                </div>
                <div class="modal-footer">
                    <button id="endTreatmentCloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="endTreatment()" id="endTreatmentBtn" type="button" class="btn btn-primary">Yes, I'm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reopenTreatmentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="reopenTreatmentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reopenTreatmentModalLabel">Confirmation Dialog</h5>
                </div>
                <div class="modal-body">

                    <!-- Error Alert box -->
                    <div id="errorBox8" class="alert alert-danger hide" role="alert"></div>

                    <!-- Success Alert box -->
                    <div id="successBox8" class="alert alert-success hide" role="alert"></div>

                    <center id="reopenTreatment-modal-body">
                        <h3 style="font-size: 20px; font-weight: normal;">Do you want to resume treatment on this client?</h3>
                    </center>
                </div>
                <div class="modal-footer">
                    <button id="reopenTreatmentCloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button onclick="reopenTreatment()" id="reopenTreatmentBtn" type="button" class="btn btn-primary">Yes, I'm</button>
                </div>
            </div>
        </div>
    </div>

    <center>
        <h4 class="headtext hny-title mb-0">Below are your clients summary</h4>
    </center>
    <!-- for dark mode add the table-dark class -->

    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Telephone No</th>
                        <th scope="col">Case</th>
                        <th scope="col">Since</th>
                        <th scope="col" colspan="3">Client Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let index = 0; index < data.length; index++ ) { %>
                        <tr>
                            <th scope="row"><%= index+1 %> </th>
                            <td><%= data[index].Username %></td>
                            <td id="cEmail<%= index %>"><%= data[index].Email %></td>
                            <td><%= data[index].Telephone %></td>
                            <td><%= data[index].Case.join(", ") %></td>
                            <td><%= new Date(data[index].createdAt).toDateString() %></td>
                            <!-- disabled will show disabled -->
                            <% if (data[index].Status == 'active' || data[index].Status == 'pending case') { %>
                                <td><button id="statusBtn-<%= data[index]._id %>" type="button" class="btn btn-success">Active</button></td>
                            <% } else if (data[index].Status == 'disabled') { %>
                                <td><button type="button" class="btn btn-info" style="background-color: grey !important; border-color: grey !important;" disabled>Disabled</button></td>
                            <% } else if (data[index].Status == 'concluded') { %>
                                <td><button id="statusBtn-<%= data[index]._id %>" type="button" class="btn btn-success">Concluded</button></td>
                            <% } %>

                            <!-- this button is used to completely end a treatment -->
                            <!-- TODO: remember to send a notification along as well -->
                            <% if (data[index].Status == "active") { %>
                                <td id="endTreatmentbuttonContainer"><button data-toggle="modal" data-target="#endTreatment4report" type="button" class="btn btn-primary" onclick="prepareEndTreatment('<%= data[index]._id %>')">End Treatment</button></td>
                            <% } else if (data[index].Status == "concluded") { %>
                                <td id="reopenbuttonContainer"><button data-toggle="modal" data-target="#reopenTreatment4report" type="button" class="btn btn-primary" onclick="prepareReopenTreatment('<%= data[index]._id %>')">Re-Open Treatment</button></td>
                            <% } %>

                            <% if (data[index].Status == 'pending case') { %>
                                <td><button onclick="window.btn = this" type="button" class="btn btn-danger" disabled>Pending...</button></td>
                            <% } else if (data[index].Status === 'active' || data[index].Status === 'concluded') { %>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4report" onclick="window.btn = this, reportClient('<%= index %>')">Report</button></td>
                            <% } else { %>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4report" onclick="window.btn = this, reportClient('<%= index %>')" disabled>Report</button></td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

   <%- include('./partials/footer') %> 

    <!-- //copyright -->
    <!-- Template JavaScript -->
    <script src="js/template_scripts/jquery-3.3.1.min.js"></script>
    <script src="js/template_scripts/theme-change.js"></script>
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="js/template_scripts/bootstrap.min.js"></script>
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>

    <!-- My Script -->
    <script src="js/script.js"></script>

</body>

</html>