<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <base href="../">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Client's Report | BUCare</title>
    <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="css/template_styles/style-starter.css">

    <!-- My Styles -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <%- include('./partials/header') %> 

     <!-- //modal-popup for report-->
     <div class="selectpackage">

        <div class="modal fade" id="myModal4report" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="reportModal" type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">
                            &times;</button>
                        <h4 class="modal-title" id="myModalLabel">Report a Client</h4>
                    </div>
                    <div class="modal-body packages">
                        <div class="appointment-form">
                            <form id="reportForm" onsubmit="return reportFunc('<%= userStatus._id %>')">

                              <!-- Error Alert box -->
                              <div id="errorBox3" class="alert alert-danger hide" role="alert"></div>

                              <!-- Success Alert box -->
                              <div id="successBox3" class="alert alert-success hide" role="alert"></div>
                              
                              <div class="fields-grid">
                                <div class="styled-input">

                                    <div class="appointment-form-field">
                                        Client's Email
                                        <input type="text" name="clientEmail" placeholder="doe@gmail.com" required disabled>
                                        <span id="blankMsg" style="color:red">
                                    </div>
                                </div>

                                <div class="styled-input">
                                    Select a reason for filing a case:
                                    <div class="appointment-form-field">
                                        <select name="reason" id="reason" required>
                                            <option value="">Select an Issue</option>
                                            <option value="Disrespect">Disrespect</option>
                                            <option value="Fradulent Behaviour">Fradulent Behaviour</option>
                                            <option value="Abuse">Abuse</option>
                                            <option value="Others">Others</option>
                                        </select>
                                    </div>
                                </div>
                              </div>

                              <div class="appointment-form-field">
                                Describe the problem
                                <textarea name="description" cols="30" rows="10" placeholder="Kindly describe the problem here." style="padding-top: 10px;" required></textarea>
                              </div>

                              <div class="appointment-btn text-lg-right">
                                  <button id="reportBtn" type="submit" value="submit" class="btn btn-style btn-primary mt-4" >Report Client</button>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#myModal4report').modal('show');
        </script>
    </div>
    <!-- //modal-popup for registrations ends-->

    <center>
        <h4 class="headtext hny-title mb-0">Below are your clients summary</h4>
    </center>
    <!-- for dark mode add the table-dark class -->

    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Telephone No</th>
                        <th scope="col">Case</th>
                        <th scope="col">Since</th>
                        <th scope="col" colspan="2">Client Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let index = 0; index < data.length; index++ ) { %>
                        <tr>
                            <th scope="row"><%= index+1 %> </th>
                            <td><%= data[index].Username %></td>
                            <td id="cEmail<%= index %>"><%= data[index].Email %></td>
                            <td><%= data[index].Telephone %></td>
                            <td><%= data[index].Case %></td>
                            <td><%= new Date(data[index].createdAt).toUTCString() %></td>
                            <!-- disabled will show disabled -->
                            <% if (data[index].Status == 'active' || data[index].Status == 'pending case') { %>
                                <td><button type="button" class="btn btn-success">Active</button></td>
                            <% } else if (data[index].Status == 'disabled') { %>
                                <td><button type="button" class="btn btn-info" style="background-color: grey !important; border-color: grey !important;" disabled>Disabled</button></td>
                            <% } %>
                            
                            <% if (data[index].Status == 'pending case') { %>
                                <td><button onclick="window.btn = this" type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4report" onclick="reportClient('<%= index %>')" disabled>pending...</button></td>
                            <% } else if (data[index].Status === 'active') { %>
                                <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4report" onclick="window.btn = this, reportClient('<%= index %>')">Report</button></td>
                            <% } else { %>
                              <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4report" onclick="window.btn = this, reportClient('<%= index %>')" disabled>Report</button></td>
                            <% } %>
                            </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

   <%- include('./partials/footer') %> 

    <!-- //copyright -->
    <!-- Template JavaScript -->
    <script src="js/template_scripts/jquery-3.3.1.min.js"></script>
    <script src="js/template_scripts/theme-change.js"></script>
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="js/template_scripts/bootstrap.min.js"></script>
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>

    <!-- My Script -->
    <script src="js/script.js"></script>

</body>

</html>