<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Contact Us | BUCare</title>
	<link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

	<!-- Template CSS -->
	<link rel="stylesheet" href="css/template_styles/style-starter.css">

	<!-- My Styles -->
	<link rel="stylesheet" href="css/style.css">
</head>

<body>

	<div id="toastContainer" class="toast4UpdateInfo"></div>

	<%- include('./partials/header') %>

	<!--/w3l-breadcrumb-->
	<section class="w3l-about-breadcrumb">
		<div class="breadcrumb-bg breadcrumb-bg-about py-5">
			<div class="container">
				<h2 class="title">
					<span id="content4Title0" data-p-t-e='contact' data-p-t-d-b-c="Title"><%= pages.contact[0].Title %></span>
					<% if (userStatus && userStatus.isAdmin) { %>
						<span id="editPreloader4Title0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
						<span id="pen4Title0" onclick="beginPageEdit('Title', 0)" class="adminEditIcons bi bi-pen"></span>
						<span id="saveEdit4Title0" class="hide adminEditIcons bi bi-check2"></span>
						<span id="closeEdit4Title0" class="hide adminEditIcons bi bi-x"></span>
					<% } %>
				</h2>
				<ul class="breadcrumbs-custom-path mt-3 text-center">
					<li><a href="index">Home</a></li>
					<li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Contact Us </li>
				</ul>
			</div>
		</div>
	</section>
	<!--//w3l-breadcrumb-->
	<!--/contact-->
	<section class="w3l-contact-11 pt-5">
		<div class="contacts-main pt-lg-5 pt-3">
			<div class="title-content text-center">
				<h6 class="sub-titlehny">Contact Form</h6>
				<h3 class="hny-title mb-0">
					<span id="content4Form0" data-p-t-e='contact' data-p-t-d-b-c="Form,Form_header"><%= pages.contact[0].Form.Form_Header %></span>
					<% if (userStatus && userStatus.isAdmin) { %>
						<span id="editPreloader4Form0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
						<span id="pen4Form0" onclick="beginPageEdit('Form', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
						<span id="saveEdit4Form0" class="hide black-edit adminEditIcons bi bi-check2"></span>
						<span id="closeEdit4Form0" class="hide black-edit adminEditIcons bi bi-x"></span>
					<% } %>
				</h3>
				<p class="mb-md-5 mb-4">
					<span id="content4Form1" data-p-t-e='contact' data-p-t-d-b-c="Form,Form_Sub_header"><%= pages.contact[0].Form.Form_Sub_Header %></span>
					<% if (userStatus && userStatus.isAdmin) { %>
						<span id="editPreloader4Form1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
						<span id="pen4Form1" onclick="beginPageEdit('Form', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
						<span id="saveEdit4Form1" class="hide black-edit adminEditIcons bi bi-check2"></span>
						<span id="closeEdit4Form1" class="hide black-edit adminEditIcons bi bi-x"></span>
					<% } %>
				</p>
			</div>
			<div class="form-41-mian section-gap mt-5">
				<div class="container">
					<div class="d-grid align-form-map">
						<div class="form-inner-cont">
							<form action="https://sendmail.w3layouts.com/submitForm" method="post" class="contact-form">
								<div class="form-top-left">

									<input type="text" name="w3lName" id="w3lName" placeholder="Name" required="">

									<input type="email" name="w3lSender" id="w3lSender" placeholder="Email*"
										required="">

									<input type="text" name="w3lSubject" id="w3lName" placeholder="Subject" required="">

								</div>
								<div class="form-top-righ">
									<textarea name="w3lMessage" id="w3lMessage" placeholder="Message*" required=""></textarea>
								</div>
								<div class="form-submit text-right">
									<button type="submit" class="btn btn-style btn-primary">Submit Message</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
			<div class="contant11-top-bg mt-4">
				<div class="container pb-lg-5">
					<div class="d-grid contact py-lg-5 py-4">
						<div class="contact-info-left d-grid text-left">
							<div class="contact-info">
								<span class="fa fa-map-o" aria-hidden="true"></span>
								<h4>
									<span id="content4ContactsAddress0" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Address,title"><%= pages.contact[0].Contacts.Address.title %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4ContactsAddress0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsAddress0" onclick="beginPageEdit('ContactsAddress', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsAddress0" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsAddress0" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</h4>
								<p style="color: var(--para-color);" class="mb-2 conp">
									<span id="content4ContactsAddress1" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Address,content"><%= pages.contact[0].Contacts.Address.content %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4ContactsAddress1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsAddress1" onclick="beginPageEdit('ContactsAddress', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsAddress1" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsAddress1" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</p>
							</div>
							<div class="contact-info">
								<span class="fa fa-phone" aria-hidden="true"></span>
								<h4>
									<span id="content4ContactsTelephone0" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Telephone,title"><%= pages.contact[0].Contacts.Telephone.title %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4ContactsTelephone0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsTelephone0" onclick="beginPageEdit('ContactsTelephone', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsTelephone0" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsTelephone0" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</h4>
								<p class="mb-2 conp">
									<% if (userStatus && userStatus.isAdmin) { %>
										<span style="color: var(--para-color);" id="content4ContactsTelephone1" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Telephone,content,0"><%= pages.contact[0].Contacts.Telephone.content[0] %></span>
										<span id="editPreloader4ContactsTelephone1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsTelephone1" onclick="beginPageEdit('ContactsTelephone', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsTelephone1" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsTelephone1" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } else { %>
										<a href="tel:<%= pages.contact[0].Contacts.Telephone.content[0] %>"><%= pages.contact[0].Contacts.Telephone.content[0] %></a>
									<% } %>
								</p>
								<p class="conp">
									<% if (userStatus && userStatus.isAdmin) { %>
										<span style="color: var(--para-color);" id="content4ContactsTelephone2" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Telephone,content,1"><%= pages.contact[0].Contacts.Telephone.content[1] %></span>
										<span id="editPreloader4ContactsTelephone2" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsTelephone2" onclick="beginPageEdit('ContactsTelephone', 2)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsTelephone2" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsTelephone2" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } else { %>
										<a href="tel:<%= pages.contact[0].Contacts.Telephone.content[1] %>"><%= pages.contact[0].Contacts.Telephone.content[1] %></a>
									<% } %>
								</p>
							</div>
							<div class="contact-info">
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
								<h4>
									<span id="content4ContactsEmails0" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Emails,title"><%= pages.contact[0].Contacts.Emails.title %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4ContactsEmails0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsEmails0" onclick="beginPageEdit('ContactsEmails', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsEmails0" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsEmails0" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</h4>
								<p class="mb-2 conp">
									<% if (userStatus && userStatus.isAdmin) { %>
										<span style="color: var(--para-color);" id="content4ContactsEmails1" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Emails,content,0"><%= pages.contact[0].Contacts.Emails.content[0] %></span>
										<span id="editPreloader4ContactsEmails1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsEmails1" onclick="beginPageEdit('ContactsEmails', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsEmails1" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsEmails1" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } else { %>
										<a href="mailto:<%= pages.contact[0].Contacts.Emails.content[0] %>"class="email"><%= pages.contact[0].Contacts.Emails.content[0] %></a>
									<% } %>
								</p>
								<p class="conp">
									<% if (userStatus && userStatus.isAdmin) { %>
										<span style="color: var(--para-color);" id="content4ContactsEmails2" data-p-t-e='contact' data-p-t-d-b-c="Contacts,Emails,content,1"><%= pages.contact[0].Contacts.Emails.content[1] %></span>
										<span id="editPreloader4ContactsEmails2" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4ContactsEmails2" onclick="beginPageEdit('ContactsEmails', 2)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4ContactsEmails2" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4ContactsEmails2" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } else { %>
										<a href="mailto:<%= pages.contact[0].Contacts.Emails.content[1] %>"class="email"><%= pages.contact[0].Contacts.Emails.content[1] %></a>
									<% } %>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.988432673748!2d3.71593991459259!3d6.8919862950199136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bd81639e54ec3%3A0x9129b4a8c8367e52!2sBabcock%20University%20Ilishan%20Remo!5e0!3m2!1sen!2sng!4v1630003876148!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
	</section>
	<!--//contact-->
	<!--//w3l-footer-29-main-->

	<%- include('./partials/footer') %>
	
	<!-- //copyright -->
	<!-- Template JavaScript -->
	<script src="js/template_scripts/jquery-3.3.1.min.js"></script>
	<script src="js/template_scripts/theme-change.js"></script>
	<!--/MENU-JS-->
	<script>
		$(window).on("scroll", function () {
			var scroll = $(window).scrollTop();

			if (scroll >= 80) {
				$("#site-header").addClass("nav-fixed");
			} else {
				$("#site-header").removeClass("nav-fixed");
			}
		});

		//Main navigation Active Class Add Remove
		$(".navbar-toggler").on("click", function () {
			$("header").toggleClass("active");
		});
		$(document).on("ready", function () {
			if ($(window).width() > 991) {
				$("header").removeClass("active");
			}
			$(window).on("resize", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
			});
		});
	</script>
	<!--//MENU-JS-->
	<script src="js/template_scripts/bootstrap.bundle.min.js"></script>
	<script src="js/template_scripts/bootstrap.min.js"></script>
	
	<!-- My Script -->
	<script src="js/script.js"></script>

</body>

</html>