<!--
	Author: W3layouts
	Author URL: http://w3layouts.com 
-->
<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Home | BUCare</title>

		<!-- Link for the fonts -->
		<link href="//fonts.googleapis.com/css?family=Nunito:400,600,700 & display=swap" rel="stylesheet">
	  <link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

		<!-- Template CSS -->
		<link rel="stylesheet" href="css/template_styles/style-starter.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
		
		<!-- My Styles -->
		<link rel="stylesheet" href="css/style.css">

	</head>

	<body onload="displayErrorMsg('<%= errorMessage %>')">

    <div id="toastContainer" class="toast4UpdateInfo"></div>

		<div id="errorContainer" class="errorContainer hide">
			<div id="errorText" class="alert alert-danger errorText" role="alert"></div>
		</div>
		
		<%- include('./partials/header') %>

		<!-- main-slider -->
		<section class="w3l-main-slider" id="home">
			<div class="companies20-content">
				<div class="owl-one owl-carousel owl-theme">
					<div class="item">
						<li>
							<div class="slider-info banner-view bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg">
											<p>
												<span id="content4FirstCarousel0" data-p-t-e='index' data-p-t-d-b-c="Carousel,first_slide,small_text"><%= pages.index[0].Carousel.first_slide.small_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4FirstCarousel0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4FirstCarousel0" onclick="beginPageEdit('FirstCarousel', 0)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4FirstCarousel0" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4FirstCarousel0" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</p>
											<h5>
												<span id="content4FirstCarousel1" data-p-t-e='index' data-p-t-d-b-c="Carousel,first_slide,large_text"><%= pages.index[0].Carousel.first_slide.large_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4FirstCarousel1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4FirstCarousel1" onclick="beginPageEdit('FirstCarousel', 1)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4FirstCarousel1" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4FirstCarousel1" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</h5>
											<a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="about"> Read More</a>
											<a class="btn btn-style border-btn mt-sm-5 mt-4" href="contact"> Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info  banner-view banner-top1 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg">
											<p>
												<span id="content4SecondCarousel0" data-p-t-e='index' data-p-t-d-b-c="Carousel,second_slide,small_text"><%= pages.index[0].Carousel.second_slide.small_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4SecondCarousel0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4SecondCarousel0" onclick="beginPageEdit('SecondCarousel', 0)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4SecondCarousel0" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4SecondCarousel0" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</p>
											<h5>
												<span id="content4SecondCarousel1" data-p-t-e='index' data-p-t-d-b-c="Carousel,second_slide,large_text"><%= pages.index[0].Carousel.second_slide.large_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4SecondCarousel1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4SecondCarousel1" onclick="beginPageEdit('SecondCarousel', 1)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4SecondCarousel1" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4SecondCarousel1" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</h5>
											<a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="about"> Read More</a>
											<a class="btn btn-style border-btn mt-sm-5 mt-4" href="contact"> Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info banner-view banner-top2 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg">
											<p>
												<span id="content4ThirdCarousel0" data-p-t-e='index' data-p-t-d-b-c="Carousel,third_slide,small_text"><%= pages.index[0].Carousel.third_slide.small_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4ThirdCarousel0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4ThirdCarousel0" onclick="beginPageEdit('ThirdCarousel', 0)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4ThirdCarousel0" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4ThirdCarousel0" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</p>
											<h5>
												<span id="content4ThirdCarousel1" data-p-t-e='index' data-p-t-d-b-c="Carousel,third_slide,large_text"><%= pages.index[0].Carousel.third_slide.large_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4ThirdCarousel1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4ThirdCarousel1" onclick="beginPageEdit('ThirdCarousel', 1)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4ThirdCarousel1" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4ThirdCarousel1" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</h5>
											<a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="about"> Read More</a>
											<a class="btn btn-style border-btn mt-sm-5 mt-4" href="contact"> Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info banner-view banner-top3 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg">
											<p>
												<span id="content4FourthCarousel0" data-p-t-e='index' data-p-t-d-b-c="Carousel,fourth_slide,small_text"><%= pages.index[0].Carousel.fourth_slide.small_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4FourthCarousel0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4FourthCarousel0" onclick="beginPageEdit('FourthCarousel', 0)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4FourthCarousel0" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4FourthCarousel0" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</p>
											<h5>
												<span id="content4FourthCarousel1" data-p-t-e='index' data-p-t-d-b-c="Carousel,fourth_slide,large_text"><%= pages.index[0].Carousel.fourth_slide.large_text %></span>
												<% if (userStatus && userStatus.isAdmin) { %>
													<span id="editPreloader4FourthCarousel1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
													<span id="pen4FourthCarousel1" onclick="beginPageEdit('FourthCarousel', 1)" class="adminEditIcons bi bi-pen"></span>
													<span id="saveEdit4FourthCarousel1" class="hide adminEditIcons bi bi-check2"></span>
													<span id="closeEdit4FourthCarousel1" class="hide adminEditIcons bi bi-x"></span>
												<% } %>
											</h5>
											<a class="btn btn-style btn-white mt-sm-5 mt-4 mr-2" href="about">Read More</a>
											<a class="btn btn-style border-btn mt-sm-5 mt-4" href="contact"> Contact Us</a>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
				</div>
			</div>
		</section>
		<!-- /main-slider -->
		<!--/grids-->
		<section class="w3l-grids-3 py-5" id="about">
			<div class="container py-md-5 py-3">
				<div class="row bottom-ab-grids align-items-center">

					<div class="col-lg-9 bottom-ab-left">
						<h6 class="sub-titlehny">
							<span id="content4Director0" data-p-t-e='index' data-p-t-d-b-c="Directors_Speech,title"><%= pages.index[0].Directors_Speech.title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Director0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Director0" onclick="beginPageEdit('Director', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Director0" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Director0" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h6>
						<h3 class="hny-title">
							<span id="content4Director1" data-p-t-e='index' data-p-t-d-b-c="Directors_Speech,sub_title"><%= pages.index[0].Directors_Speech.sub_title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Director1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Director1" onclick="beginPageEdit('Director', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Director1" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Director1" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h3>
						<div class="separatorhny"></div>
						<p class="my-3">
							<span id="content4Director2" data-p-t-e='index' data-p-t-d-b-c="Directors_Speech,message"><%= pages.index[0].Directors_Speech.message %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Director2" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Director2" onclick="beginPageEdit('Director', 2)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Director2" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Director2" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</p>
						<p id="directorsMore" class="hide">
							<span id="content4Director3" data-p-t-e='index' data-p-t-d-b-c="Directors_Speech,extra"><%= pages.index[0].Directors_Speech.extra %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Director3" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Director3" onclick="beginPageEdit('Director', 3)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Director3" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Director3" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</p>
						<span class="btn btn-style btn-primary mt-4" 
							onclick="document.getElementById('directorsMore').classList.toggle('hide');
							this.textContent = textContent.trim() == 'Read More' ? 'Show Less' : 'Read More';">
							Read More
						</span>
					</div>
					<div class="col-lg-3 bottom-ab-right mt-lg-0 mt-5 pl-lg-4">
						<!-- remeber to check if the images are default then don't delete like on the empire -->
						<img style="min-height: 270px;" src="<%= pages.index[0].Directors_Speech.dir_image_loc %>" alt="" class="img-fluid director-image">
					</div>

				</div>
			</div>
		</section>
		<!--//grids-->

		<section class="w3l-testimonials py-5 bg-dark" id="testimonials">
			<!-- main-slider -->
			<div class="container py-md-4 mb-md-0 mb-md-5 mb-4 ">
			<div class="heading text-center mx-auto">
				<h6 class="sub-titlehny">
					<span id="content4Testimonial0" data-p-t-e='index' data-p-t-d-b-c="Testimonial,title"><%= pages.index[0].Testimonial.title %></span>
					<% if (userStatus && userStatus.isAdmin) { %>
						<span id="editPreloader4Testimonial0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
						<span id="pen4Testimonial0" onclick="beginPageEdit('Testimonial', 0)" class="adminEditIcons bi bi-pen"></span>
						<span id="saveEdit4Testimonial0" class="hide adminEditIcons bi bi-check2"></span>
						<span id="closeEdit4Testimonial0" class="hide adminEditIcons bi bi-x"></span>
					<% } %>
				</h6>
				<h3 class="hny-title text-center mb-5 text-white">
					<span id="content4Testimonial1" data-p-t-e='index' data-p-t-d-b-c="Testimonial,sub_title"><%= pages.index[0].Testimonial.sub_title %></span>
					<% if (userStatus && userStatus.isAdmin) { %>
						<span id="editPreloader4Testimonial1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
						<span id="pen4Testimonial1" onclick="beginPageEdit('Testimonial', 1)" class="adminEditIcons bi bi-pen"></span>
						<span id="saveEdit4Testimonial1" class="hide adminEditIcons bi bi-check2"></span>
						<span id="closeEdit4Testimonial1" class="hide adminEditIcons bi bi-x"></span>
					<% } %>
				</h3>
				<div class="separatorhny white"></div>
	
			</div>
			<div class="owl-testimonial owl-carousel owl-theme">
				<% for( let index = 0; index < pages.index[0].Testimonial.data.length; index++ ) { %>
					<% const data = pages.index[0].Testimonial.data[index] %>
					<div class="item">
						<div class="slider-info">
							<div class="img-circle">
							<img src="defaults/male_placeholder.jpg" class="img-fluid rounded" alt="client image">
							</div>
							<div class="message-info">
							<span class="fa fa-quote-left mr-2"></span>
							<div class="message text-white"><%= data.message %></div>
							<div class="name text-white"><%= data.patient_name %></div>
							<div class="desp text-white"><%= data.patient_location %></div>
							</div>
						</div>
					</div>
				<% } %>
			</div>
			</div>
			<!-- /main-slider -->
		</section>
		<!--/w3l-cwp4-->
		<div class="w3l-cwp4-sec py-5">
			<div class="container py-md-5 py-3">
				<div class="cwp4-two row align-items-center">
					<div class="cwp4-image col-lg-6 pr-lg-5">
						<img src="media/imgs/template/6.jpg" class="img-fluid" alt="">
					</div>
					<div class="cwp4-text col-lg-6 mt-lg-0 mt-5">
						<h6 class="sub-titlehny">
							<span id="content4Choose_Confidently0" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,title"><%= pages.index[0].Choose_Confidently.title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Choose_Confidently0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Choose_Confidently0" onclick="beginPageEdit('Choose_Confidently', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Choose_Confidently0" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Choose_Confidently0" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h6>
						<h3 class="hny-title">
							<span id="content4Choose_Confidently1" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,sub_title"><%= pages.index[0].Choose_Confidently.sub_title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Choose_Confidently1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Choose_Confidently1" onclick="beginPageEdit('Choose_Confidently', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Choose_Confidently1" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Choose_Confidently1" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h3>
						<div class="separatorhny"></div>
						<p>
							<span id="content4Choose_Confidently2" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,content"><%= pages.index[0].Choose_Confidently.content %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Choose_Confidently2" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Choose_Confidently2" onclick="beginPageEdit('Choose_Confidently', 2)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Choose_Confidently2" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Choose_Confidently2" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</p>

						<ul class="cont-4 mt-lg-6 mt-md-5 mt-4">
							<li class="subhny-gd mt-sm-0 mt-4">
								<span class="fa fa-user-md"> </span>
								<h4><a class="link-hny" href="#url">
									<span id="content4Choose_Confidently3" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,sub_category,left,title"><%= pages.index[0].Choose_Confidently.sub_category.left.title %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4Choose_Confidently3" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4Choose_Confidently3" onclick="beginPageEdit('Choose_Confidently', 3)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4Choose_Confidently3" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4Choose_Confidently3" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</a></h4>
								<p>
									<span id="content4Choose_Confidently4" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,sub_category,left,content"><%= pages.index[0].Choose_Confidently.sub_category.left.content %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4Choose_Confidently4" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4Choose_Confidently4" onclick="beginPageEdit('Choose_Confidently', 4)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4Choose_Confidently4" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4Choose_Confidently4" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</p>

							</li>
							<li class="subhny-gd mt-sm-0 mt-4">
								<span class="fa fa-trophy"> </span>
								<h4><a class="link-hny" href="#url">
									<span id="content4Choose_Confidently5" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,sub_category,right,title"><%= pages.index[0].Choose_Confidently.sub_category.right.title %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4Choose_Confidently5" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4Choose_Confidently5" onclick="beginPageEdit('Choose_Confidently', 5)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4Choose_Confidently5" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4Choose_Confidently5" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>
								</a></h4>
								<p>
									<span id="content4Choose_Confidently6" data-p-t-e='index' data-p-t-d-b-c="Choose_Confidently,sub_category,right,content"><%= pages.index[0].Choose_Confidently.sub_category.right.content %></span>
									<% if (userStatus && userStatus.isAdmin) { %>
										<span id="editPreloader4Choose_Confidently6" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
										<span id="pen4Choose_Confidently6" onclick="beginPageEdit('Choose_Confidently', 6)" class="black-edit adminEditIcons bi bi-pen"></span>
										<span id="saveEdit4Choose_Confidently6" class="hide black-edit adminEditIcons bi bi-check2"></span>
										<span id="closeEdit4Choose_Confidently6" class="hide black-edit adminEditIcons bi bi-x"></span>
									<% } %>		
								</p>

							</li>
						</ul>
					</div>

				</div>
			</div>

		</div>
		<hr style="margin-bottom: 0px !important;">

		<!--/team-sec-->
		<!-- if for any reason there is no therapist this doesn't show -->
		<% if (pages.therapists) { %> 
		<section class="w3l-team py-5 team-section" id="team">
			<div class="container py-lg-4 py-sm-3">
				<div class="header-sec text-center">
					<h6 class="sub-titlehny-edited text-center">The Team</h6>
					<h3 class="hny-title-edited text-center">Meet Our Therapists</h3>
					<div class="separatorhny"></div>
				</div>
				
				<div style="margin-top: 25px !important;" class="row text-center mt-5">

					<!-- TODO:This entry is going to link to her therapist account not admin account also remove this comment -->
					<div class="col-md-3 col-6 therapist-container">
						<div class="team-grids text-center">
							<img src="defaults/elizabeth.jpg" class="img-fluid" alt="A picture of Elizabeth Okonkwo">
							<div class="team-info">
							<div class="caption">
								<div class="social-icons-section text-center">
									<a class="twitter customsvg-container" href="therapistProfile/null">
										<svg class="customsvg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" 
											class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" 
											viewBox="0 0 512 512"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
										</svg>
									</a>
								</div>
							</div>
							</div>
						</div>
						<h4><a class="therapist-name" href="#team">Elizabeth Okonkwo</a></h4>
						<h5>Director</h5>
					</div>

					<% for (let i = 0; i < 3; i++) { %>
					<% let therapist = pages.therapists[i]; %>
					<div class="col-md-3 col-6 therapist-container">
						<div class="team-grids text-center">
							<img src="defaults/<%= therapist.First_Name.toLowerCase() %>.jpg" class="img-fluid" alt="A picture of <%= therapist.First_Name + " " + therapist.Last_Name %>">
							<div class="team-info">
							<div class="caption">
								<div class="social-icons-section text-center">
									<a class="customsvg-container" href="therapistProfile/<%= therapist._id %>">
										<svg class="customsvg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="external-link-alt" 
											class="svg-inline--fa fa-external-link-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" 
											viewBox="0 0 512 512"><path fill="currentColor" d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path>
										</svg>
									</a>
								</div>
							</div>
							</div>
						</div>
						<h4><a class="therapist-name" href="#team"><%= therapist.First_Name + " " + therapist.Last_Name %></a></h4>
						<h5>Counsellor</h5>
					</div>
					<% } %>
				</div>
				<div class="move-right">
					<div class="buttons mt-5 cancelMargin">
						<a href="team" class="btn btn-white btn-primary mr-2">Show More</a>
					</div>
				</div>
			</div>
		</section>
		<% } %>

		<!--//team-sec-->

		<hr style="margin-top: 0px !important;">
		<!-- /blog-posts -->
		<section id="grids5-block" class="w3l-blogluxe-hny py-5">
			<div class="container py-md-5">
				<div class="row grid-view">
					<div class="col-lg-5 pr-lg-5">
						<h6 class="sub-titlehny">
							<span id="content4Blog_Post0" data-p-t-e='index' data-p-t-d-b-c="Blog_Post,title"><%= pages.index[0].Blog_Post.title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Blog_Post0" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Blog_Post0" onclick="beginPageEdit('Blog_Post', 0)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Blog_Post0" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Blog_Post0" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h6>
						<h3 class="hny-title">
							<span id="content4Blog_Post1" data-p-t-e='index' data-p-t-d-b-c="Blog_Post,sub_title"><%= pages.index[0].Blog_Post.sub_title %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Blog_Post1" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Blog_Post1" onclick="beginPageEdit('Blog_Post', 1)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Blog_Post1" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Blog_Post1" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</h3>
						<div class="separatorhny"></div>
						<p class="my-3">
							<span id="content4Blog_Post2" data-p-t-e='index' data-p-t-d-b-c="Blog_Post,content"><%= pages.index[0].Blog_Post.content %></span>
							<% if (userStatus && userStatus.isAdmin) { %>
								<span id="editPreloader4Blog_Post2" class="black-edit-loader editPreloader hide"><span></span><span></span><span></span><span></span></span>
								<span id="pen4Blog_Post2" onclick="beginPageEdit('Blog_Post', 2)" class="black-edit adminEditIcons bi bi-pen"></span>
								<span id="saveEdit4Blog_Post2" class="hide black-edit adminEditIcons bi bi-check2"></span>
								<span id="closeEdit4Blog_Post2" class="hide black-edit adminEditIcons bi bi-x"></span>
							<% } %>
						</p>

						<!-- Doesn't need to show if the user is logged in -->
						<% if (!userStatus) { %>						
							<a href="#" class="btn btn-style btn-primary mt-4" data-toggle="modal"
								data-target="#confirmStudentModal">Get Started</a>
						<% } %>
					</div>
					<div class="col-lg-7 mt-lg-0 mt-4">
						<div class="row grids5-info">
							<div class="col-6">
								<a href="#" class="zoom">
									<img src="media/imgs/template/s1.jpg" alt="" class="img-fluid" />
								</a>
							</div>
							<div class="col-6">
								<a href="#" class="zoom">
									<img src="media/imgs/template/s2.jpg" alt="" class="img-fluid" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--	//blog-Section -->
		<!--/features
		<section class="w3l-ab-features py-5">
			<div class="container py-md-5 py-3">
				<div class="row features-w3pvt-main" id="features">
					<div class="col-lg-4 col-md-6 feature-gird">
						<div class="row features-hny-inner-gd">
							<div class="col-md-2 col-2 featured_grid_left">
								<div class="icon-hnynumber">
									<span class="hnynumber">01</span>
								</div>
							</div>
							<div class="col-md-10 col-10 featured_grid_right_info">
								<h4><a class="link-hny" href="#url">We can help with</a></h4>
								<div class="separatorhny"></div>
								<p>
									&#8711; Stress, work issues and relationship difficulties <br>
									&#8711;Mood and anxiety <br>
									&#8711;Tobacco, alcohol and drug related challenges<br>
									&#8711;Problem Gambling<br>
									&#8711;Eating difficulties and weight related issues<br>
									&#8711;Grief and bereavement<br>
									&#8711;Life coaching and guidance<br>
									... and lot More
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 feature-gird mt-md-0 mt-4">
						<div class="row features-hny-inner-gd">
							<div class="col-md-2 col-2 featured_grid_left">
								<div class="icon-hnynumber">
									<span class="hnynumber">02</span>
								</div>
							</div>
							<div class="col-md-10 col-10 featured_grid_right_info">
								<h4><a class="link-hny" href="#url">Our Main Objectives</a></h4>
								<p>To improve and maintain physical wellbeing</p>
								<ul>
									<li>Help prevent complications from existing challenges </li>
									<li>Enhance productivity/excellent performance</li>
									<li>Promote Healthy Lifestyle</li>
									<li>Maintain appropriate records and confidentiality with students</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 feature-gird mt-lg-0 mt-md-5 mt-4">
						<div class="row features-hny-inner-gd">
							<div class="col-md-2 col-2 featured_grid_left">
								<div class="icon-hnynumber">
									<span class="hnynumber">03</span>
								</div>
							</div>
							<div class="col-md-10 col-10 featured_grid_right_info">
								<h4><a class="link-hny" href="#url">
										How does it work?</a></h4>
								<p>
									Choose your preferred Counsellor. Search by Counseling type, Counsellor name, language
									and other filters
									Sign up/Register. It’s free to sign up, no membership or registration fees
									Book or request appointment
									Log in on the date and time of your session
									Have your Counseling session online via secure live high definition video
									Leave feedback after session
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		//features-->

		<!-- middle -->
		<!-- <div class="w3l-middle py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="welcome-left py-3">
					<h6 class="sub-titlehny">
						<span id="content4Trusted_Care0" data-p-t-e='index' data-p-t-d-b-c="Trusted_Care,title"><%= // pages.index[0].Trusted_Care.title %></span>
						<% // if (userStatus && userStatus.isAdmin) { %>
							<span id="editPreloader4Trusted_Care0" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
							<span id="pen4Trusted_Care0" onclick="beginPageEdit('Trusted_Care', 0)" class="adminEditIcons bi bi-pen"></span>
							<span id="saveEdit4Trusted_Care0" class="hide adminEditIcons bi bi-check2"></span>
							<span id="closeEdit4Trusted_Care0" class="hide adminEditIcons bi bi-x"></span>
						<% // } %>
					</h6>
					<h4>
						<span id="content4Trusted_Care1" data-p-t-e='index' data-p-t-d-b-c="Trusted_Care,sub_title"><%= // pages.index[0].Trusted_Care.sub_title %></span>
						<% // if (userStatus && userStatus.isAdmin) { %>
							<span id="editPreloader4Trusted_Care1" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
							<span id="pen4Trusted_Care1" onclick="beginPageEdit('Trusted_Care', 1)" class="adminEditIcons bi bi-pen"></span>
							<span id="saveEdit4Trusted_Care1" class="hide adminEditIcons bi bi-check2"></span>
							<span id="closeEdit4Trusted_Care1" class="hide adminEditIcons bi bi-x"></span>
						<% // } %>
					</h4>
					<div class="separatorhny"></div>
					<p class="pr-lg-5">
						<span id="content4Trusted_Care3" data-p-t-e='index' data-p-t-d-b-c="Trusted_Care,content"><%= // pages.index[0].Trusted_Care.content %></span>
						<% // if (userStatus && userStatus.isAdmin) { %>
							<span id="editPreloader4Trusted_Care3" class="editPreloader hide"><span></span><span></span><span></span><span></span></span>
							<span id="pen4Trusted_Care3" onclick="beginPageEdit('Trusted_Care', 3)" class="adminEditIcons bi bi-pen"></span>
							<span id="saveEdit4Trusted_Care3" class="hide adminEditIcons bi bi-check2"></span>
							<span id="closeEdit4Trusted_Care3" class="hide adminEditIcons bi bi-x"></span>
						<% // } %>
					</p> -->
					<!--div class="buttons mt-5">
						<a href="about" class="btn btn-white btn-primary mr-2">Read More</a>
						<a href="contact" class="btn btn-style border-btn ml-2">Get a quote</a>
					</div
				</div>
			</div>
		</div> -->
		<!--//middle -->
		
		<!--//w3l-grids-->
		<!-- stats 
		<section class="w3l-stats py-lg-0 py-5" id="stats">
			<div class="gallery-inner container py-lg-0 py-3">
				<div class="row stats-con">
					<div class="col-lg-3 col-6 stats_info counter_grid">
						<span class="fa fa-users"></span>
						<p class="counter">1100</p>
						<h4>Expert Doctors</h4>
					</div>
					<div class="col-lg-3 col-6 stats_info counter_grid1">
						<span class="fa fa-laptop"></span>
						<p class="counter">1020</p>
						<h4>Health Programs</h4>
					</div>
					<div class="col-lg-3 col-6 stats_info counter_grid mt-lg-0 mt-5">
						<span class="fa fa-smile-o"></span>
						<p class="counter">912</p>
						<h4>Happy Clients</h4>
					</div>
					<div class="col-lg-3 col-6 stats_info counter_grid2 mt-lg-0 mt-5">
						<span class="fa fa-trophy"></span>
						<p class="counter">80</p>
						<h4>Success Meets</h4>
					</div>
				</div>
			</div>
		</section>
		 //stats -->




		<!--/w3l-subscribe
		<section class="w3l-subscribe-content py-5">
			<div class="container py-md-4 py-3 text-center">
				<div class="row my-lg-4 mt-4">
					<div class="col-lg-9 col-md-10 mx-auto">
						<div class="subscribe mx-auto">
							<div class="header-section text-center mx-auto">
								<h6 class="sub-titlehny">Join Us</h6>
								<h3 class="hny-title">Stay Updated! </h3>
								<div class="separatorhny"></div>
								<p class="my-3">Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio
									consectetur adipisicing.
									turpis sodales quis. Integer sit amet mattis quam.</p>
							</div>
							<form action="#" method="post" class="subscribe-wthree pt-2 mt-5">
								<div class="d-md-flex flex-wrap subscribe-wthree-field">
									<input class="form-control" type="email" placeholder="Enter your email..." name="email"
										required="">
									<button class="btn btn-style btn-primary" type="submit">Subscribe</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		//w3l-subscribe-->
	<!-- //blog-Section -->

		<%- include('./partials/footer') %> 

		<!-- //copyright -->
		<!-- Template JavaScript -->
		<script src="js/template_scripts/jquery-3.3.1.min.js"></script>

		<!-- script for testimonials -->
		<script>
			$(document).ready(function () {
				$('.owl-testimonial').owlCarousel({
					loop: true,
					margin: 0,
					nav: true,
					responsiveClass: true,
					autoplay: true,
					autoplayTimeout: 5000,
					autoplaySpeed: 1000,
					autoplayHoverPause: false,
					responsive: {
						0: {
							items: 1,
							nav: false
						},
						480: {
							items: 1,
							nav: false
						},
						667: {
							items: 1,
							nav: true
						},
						1000: {
							items: 1,
							nav: true
						}
					}
				})
			})
		</script>
		<!-- //script for testimonials -->

		<!-- My Script -->
		<script src="js/script.js"></script>

		<script src="js/template_scripts/theme-change.js"></script>

		<!-- js for portfolio lightbox -->
		<!-- libhtbox -->
		<script src="js/template_scripts/lightbox-plus-jquery.min.js"></script>
		<!-- libhtbox -->
		<script src="js/template_scripts/owl.carousel.js"></script>
		<!-- script for banner slider-->
		<script>
			$(document).ready(function () {
				$('.owl-one').owlCarousel({
					loop: true,
					margin: 0,
					nav: false,
					responsiveClass: true,
					autoplay: true,
					autoplayTimeout: 5000,
					autoplaySpeed: 1000,
					autoplayHoverPause: false,
					responsive: {
						0: {
							items: 1,
							nav: false
						},
						480: {
							items: 1,
							nav: false
						},
						667: {
							items: 1,
							nav: true
						},
						1000: {
							items: 1,
							nav: true
						}
					}
				})
			})
		</script>
		<!-- //script -->
	
		<!-- stats number counter-->
		<script src="js/template_scripts/jquery.waypoints.min.js"></script>
		<script src="js/template_scripts/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>

		<!-- //stats number counter -->
		<!--/MENU-JS-->
		<script>
			$(window).on("scroll", function () {
				var scroll = $(window).scrollTop();

				if (scroll >= 80) {
					$("#site-header").addClass("nav-fixed");
				} else {
					$("#site-header").removeClass("nav-fixed");
				}
			});

			//Main navigation Active Class Add Remove
			$(".navbar-toggler").on("click", function () {
				$("header").toggleClass("active");
			});
			$(document).on("ready", function () {
				if ($(window).width() > 991) {
					$("header").removeClass("active");
				}
				$(window).on("resize", function () {
					if ($(window).width() > 991) {
						$("header").removeClass("active");
					}
				});
			});
		</script>

		<!--//MENU-JS-->
		<script src="js/template_scripts/bootstrap.bundle.min.js"></script>
		<script src="js/template_scripts/bootstrap.min.js"></script>

	</body>

</html>
