<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <base href="../" />
  <title>Meet The Team | BUCare</title>
  <link href="//fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="media/imgs/template/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

  <!-- Template CSS -->
  <link rel="stylesheet" href="css/template_styles/style-starter.css" />

  <!-- My Styles -->
  <link rel="stylesheet" href="css/style.css" />

  <script src="https://kit.fontawesome.com/dc8ee980c4.js" crossorigin="anonymous"></script>
</head>

<body>

  <div id="toastContainer" class="toast4UpdateInfo"></div>

  <%- include('./partials/header') %>

  <!-- Modal -->
  <div class="modal fade" id="SelectProblemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SelectProblemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="SelectProblemModalLabel">Request a Session</h5>
        </div>
        <div id="modal-body" class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button id="SelectProblemCloseBtn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button id="SelectProblemBtn" type="button" class="btn btn-primary">Proceed</button>
        </div>
      </div>
    </div>
  </div>

    <!--/w3l-breadcrumb-->
    <section class="w3l-about-breadcrumb">
      <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container">
          <h2 class="title">Meet Our Therapists</h2>
          <ul class="breadcrumbs-custom-path mt-3 text-center">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Our Team </li>
          </ul>
        </div>
      </div>
    </section>
    <!--//w3l-breadcrumb-->

    <!--/services-->
    <section class="w3l-services1">
      <div id="content-with-photo4-block" class="py-2">
        <div class="container py-md-5 py-3">
          <div class="cwp4-two row">
            <div class="cwp4-text col-lg-10">
              <h6 class="sub-titlehny">We Care</h6>
              <h3 class="hny-title"> ...we would like to help you achieve positive outcomes in your life.</h3>
              <div class="separatorhny"></div>
              <p style="font-size: 18px !important;">Our practitioners are skilled in a range of therapeutic approaches
                so we can specifically tailor our services to you. <br><br>
                We understand that no two people or issues are the same, so our delivery is responsive, flexible and
                creative, by matching our services, care and approach to your needs, so you may achieve your therapeutic
                goals.<br><br>
                Combined, our practitioners have experience helping students, families, adolescents, children and
                parents, so we would like to help you achieve positive outcomes in your life.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="w3l-team py-5 team-section" id="team">
      <div class="container py-lg-4 py-sm-3">
        <div class="header-sec text-center">
          <h6 class="sub-titlehny-edited text-center">The Administrative Team</h6>
          <h3 class="hny-title-edited text-center">Meet Our Admins</h3>
          <div class="separatorhny"></div>
        </div>

        <div style="margin-top: 25px !important;" class="row text-center mt-5">

          <div class="col-md-1"></div>

          <div class="col-md-4 col-6 therapist-container">
            <div class="team-grids text-center">
              <img src="defaults/elizabeth.jpg" class="img-fluid" alt="A picture of Elizabeth Okonkwo">
              <div class="team-info">
                <div class="caption">
                  <div class="social-icons-section text-center">
                    <a class="twitter customsvg-container" href="therapistProfile/null">
                      <svg class="customsvg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h4><a class="therapist-name" href="#team">Elizabeth Okonkwo</a></h4>
            <h5>Director</h5>
          </div>

          <div class="col-md-3 col-6 therapist-container">
            <div class="team-grids text-center">
              <img src="defaults/omotosho.jpg" class="img-fluid" alt="A picture of Omotosho Tominiyi">
              <div class="team-info">
                <div class="caption">
                  <div class="social-icons-section text-center">
                    <a class="twitter customsvg-container" href="therapistProfile/null">
                      <svg class="customsvg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h4><a class="therapist-name" href="#team">Omotosho Tominiyi</a></h4>
            <h5>Assistant Director</h5>
          </div>

          <div class="col-md-3 col-6 therapist-container">
            <div class="team-grids text-center">
              <img src="defaults/aderibigbe.jpg" class="img-fluid" alt="A picture of Aderibigbe Damilola Eunice">
              <div class="team-info">
                <div class="caption">
                  <div class="social-icons-section text-center">
                    <a class="twitter customsvg-container" href="therapistProfile/null">
                      <svg class="customsvg" aria-hidden="true" focusable="false" data-prefix="fas"
                        data-icon="external-link-alt" class="svg-inline--fa fa-external-link-alt fa-w-16" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
                        </path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h4><a class="therapist-name" href="#team">Aderibigbe Damilola Eunice</a></h4>
            <h5>Administrative Assistant</h5>
          </div>

          <div class="col-md-1"></div>

        </div>
      </div>
    </section>


    <!-- TODO: skip the therapist profile for now work on the registration then finish off with the therapist profile -->
    <!-- TODO: make sure to add Mrs. elizabeth as a therapist  -->
    <% if (pages.therapists) { %>
      <section class="container py-xl-2 py-3 my-5">
        <% for (let i = 0; i < pages.therapists.length; i++) { %>
				<% let therapist = pages.therapists[i]; %>
          <div class="row eachTheraist">
            <div class="col-md-12">
              <div class="row">
                <div class=" col-md-3 ">
                  <img src="defaults/<%= therapist.First_Name.toLowerCase() %>.jpg" class="img-fluid" alt="A picture of <%= therapist.First_Name + " " + therapist.Last_Name %>">
                </div>
                <div class="col-md-9">
                  <h4 class="therapistBioName"><%= therapist.First_Name + " " + therapist.Last_Name %></h4>
                  <h4 class="therapistBioQualifications">Qualification: <%= therapist.Education_Level.join(", ") %></h4>
                  <h4 class="therapistBioSpecializations">Specialization: <%= therapist.Specialization.join(", ") %></h4>
                  <h4 class="therapistBioRating">Rating: 
                    <% if (therapist.Average_Rating != undefined) { %> 
                      <div <%= "style=width:"+ ((therapist.Average_Rating / 5) * 100) +"px;" %>>
                        <div>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                        </div>
                      </div> 
                    <% } else { %>
                      Not available 
                    <% } %>
                  </h4>
                  <% for (let j = 0; j < therapist.Brief_Bio.length; j++) { %>
                    <p class="therapistBio">
                      <%= therapist.Brief_Bio[j] %>
                    </p>
                  <% } %>
                  <div class="buttons mt-3 move-right">
                    <% if (userStatus && userStatus.isClient) { %>
                      <!-- only logged in users are allowed to book therapists -->



                      <!-- figure out a way to show awaiting response here even after refresh if the person has booked before -->

                      <button id="joinRoomBtn-<%= therapist._id %>-fake" data-bs-toggle="modal" data-bs-target="#SelectProblemModal" data-specialization="<%= therapist.Specialization.join(", ") %>" onclick="selectProblem(this.dataset, 'joinRoomBtn-<%= therapist._id %>')" class="btn btn-style btn-primary" style="margin-right: 15px;">Book Now</button>
                      <button id="joinRoomBtn-<%= therapist._id %>" onclick="sendJoinRoomRequest('<%= therapist._id %>')" hidden></button>
                    <% } %>
                    <!-- <a href="" class="btn btn-white btn-primary">View Profile</a> -->
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
        <% } %>
      </section>
    <% } %>

    <%- include('./partials/footer') %>

      <!-- //copyright -->
      <!-- Template JavaScript -->
      <script src="js/template_scripts/jquery-3.3.1.min.js"></script>
      <script src="js/template_scripts/theme-change.js"></script>
      <!--/MENU-JS-->
      <script>
        $(window).on("scroll", function () {
          var scroll = $(window).scrollTop();

          if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
          } else {
            $("#site-header").removeClass("nav-fixed");
          }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
          $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
          if ($(window).width() > 991) {
            $("header").removeClass("active");
          }
          $(window).on("resize", function () {
            if ($(window).width() > 991) {
              $("header").removeClass("active");
            }
          });
        });
      </script>
      <!--//MENU-JS-->
      <script src="js/template_scripts/bootstrap.min.js"></script>
      <script src="js/template_scripts/bootstrap.bundle.min.js"></script>

      <!-- My Script -->
      <script src="js/script.js"></script>
</body>

</html>
